:host {
  display: block;
  font-family: 'Inter', sans-serif;
  width: calc(100% - 60px);
  margin: 30px auto 30px auto;
}

.blog-list-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 0 auto;

  stencil-route-link {
    * {
      text-decoration: none;
    }
  }

  .post-preview {
    display: flex;
    flex-direction: column;
    height: 100%;

    .splash-img {
      display: block;
      margin: 0 0 -4px 0;
      height: 212px;

      img {
        width: 100%;
        height: auto;
        border-radius: 8px 8px 0 0;
      }
    }

    .content-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin: 0;
      padding: 20px;
      background-color: #ffffff;
      color: #0e0f13;
      border-radius: 0 0 8px 8px;

      .facts-wrapper {
        display: flex;
        flex-direction: column;
        margin: 0;
        font-size: 14px;
        color: #474a57;
      }

      .categories {
        margin: 0 0 12px 0;
        font-size: 12px;

        #category {
          margin: 0 10px 0 0;
          padding: 4px;
          border-radius: 4px;
          background-color: transparent;
          font-weight: 600;
          color: #8e92a1;
        }
      }

      h3 {
        font-size: var(--font-size-5);
        margin: 0px;
        flex-grow: 1;
        hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
      }

      p {
        font-size: 16px;
        margin: 0 0 20px 0;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        color: #474a57;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    margin: 0;
  }
}
