:host {
  //max-width: 1400px;
  width: 100%;
  height: 4.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(248, 248, 248, 0.8);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid #dedee0;
  position: relative;
  margin: 0 auto;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::slotted(*) {
  display: flex;
  align-items: center;
}

::slotted([slot='start']) {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

::slotted([slot='logo']) {
  justify-self: center;
}

::slotted([slot='end']) {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
