/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/
@font-face {
  font-family: 'InterR';
  src: url('../assets/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'InterSB';
  src: url('../assets/fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'InterB';
  src: url('../assets/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'MFBOldstyleB';
  src: url('../assets/fonts/MFBOldstyle-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'MFBOldstyleR';
  src: url('../assets/fonts/MFBOldstyle-Regular.otf') format('opentype');
  font-weight: 400;
}

:root {
  --text: #151929;
  --dark: #8e92a1;
  --light: #e8e9ec;
  --primary: #3591ff;
  --error: #ff4d4f;
  --success: #52c41a;
  --warning: #faad14;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  background-color: #f8f8f8;
  color: #0d213a;
}
