navbar-menu-item-comp stencil-route-link {
  a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--text);
    font-family: 'InterSB';
    font-size: 1.5rem;
  }
}

.other stencil-route-link {
  &:first-child {
    margin-top: 20px;
  }

  a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #474a57;
    font-family: 'InterSB';
    font-size: 0.875rem;
    margin: 6px 0 0 0;
    padding: 6px 0;
  }
}

footer {
  width: 100%;
  background: #151929;
  border-radius: 40px 40px 0 0;

  .footer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-content {
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 0;
    font-family: 'Inter', sans-serif;

    @media screen and (max-width: 1200px) {
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      flex-direction: column;
      padding: 30px 0 0 0;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 0 10% 0 0;

      @media screen and (max-width: 768px) {
        margin: 0 0 10% 30px;
      }

      img {
        width: 11.75rem;
        margin: 0;
      }

      p {
        font-size: var(--font-size-7);
        font-weight: 400;
        color: #fff;
        margin: 10px 0 0 0;
      }

      a {
        color: #fff;
        font-size: var(--font-size-7);
        font-weight: 400;
        text-decoration: none;
        margin: 10px 0 0 0;
      }
    }

    .disabled {
      stencil-route-link {
        a {
          cursor: not-allowed;

          &:hover {
            color: #fff;
          }
        }
      }
    }

    stencil-route-link {
      a {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        text-decoration: none;
        color: #fff;
        font-size: var(--font-size-7);
        font-weight: 400;
        padding: 0;
        cursor: pointer;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;

        &:hover {
          color: #506175;
        }

        .soon-lable {
          width: 32px;
          height: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 8px;
          background: #3285e7;
          font-family: 'Inter', sans-serif;
          font-weight: 500;
          font-size: 8px;
          border-radius: 3px;
          color: white;
        }
      }
    }
    .copyright {
      color: #8e92a1;
      font-size: 14px;
      margin: 30px 0 0 0;
    }
    .small {
      color: #8e92a1;
      font-size: 14px;
      margin: 0;
    }
  }
}
