.privacy-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  width: 780px;
  //margin: 0 0 0 340px;
  margin: 100px auto 0 auto;

  @media screen and (max-width: 1200px) {
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  .privacy-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    margin: 0 0 30px 0;

    .splash-img {
      img {
        width: 100%;
        height: auto;
        border-radius: 30px;
      }
    }

    h1 {
      text-align: left;
      font-size: var(--font-blg-heading);
      font-family: 'Inter-SemiBold', sans-serif;
      font-weight: 600;
    }

    h2 {
      font-size: var(--font-blg-subheading);
      font-family: 'Inter-Medium', sans-serif;
      font-weight: 500;
    }

    h3 {
      text-align: left;
      font-size: var(--font-blg-subsubheading);
      font-family: 'Inter-Medium', sans-serif;
      font-weight: 500;
    }

    p {
      font-size: var(--font-size-7);
      font-weight: 400;
      color: #0d213a;
      margin: 0 0 20px 0;
    }

    a {
      color: #71bbff;
      text-decoration: underline;

      &:hover {
        color: #66a9e8;
      }
    }

    @media screen and (max-width: 1200px) {
    }

    @media screen and (max-width: 768px) {
      margin: 0 30px 30px 30px;
    }
  }
}
