.app-privacy {
  max-width: 1920px;
  height: auto;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
}

.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 473px;
  margin: 80px 12px 0 12px;
  border-radius: 20px;
  background-image: linear-gradient(to bottom right, #474a57, #8e92a1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .subheading {
    font-size: var(--font-size-7);
    font-family: 'Inter', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: white;
    margin: 0 0 30px 0;
  }

  @media screen and (max-width: 768px) {
    height: 170px;

    .subheading {
      font-size: 10px;
      margin: 0 0 12px 0;
    }
  }

  h1 {
    font-size: var(--font-size-1);
    font-family: 'Gloock', serif;
    font-weight: 400;
    color: white;
    margin: 0;
  }
}

.privacy-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  width: 780px;
  //margin: 0 0 0 340px;
  margin: 0 auto 0 auto;

  @media screen and (max-width: 1200px) {
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  .privacy-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    margin: 0 0 30px 0;

    .splash-img {
      img {
        width: 100%;
        height: auto;
        border-radius: 30px;
      }
    }

    h1 {
      text-align: left;
      font-size: var(--font-blg-heading);
      font-family: 'Inter', sans-serif;
      font-weight: 500;
    }

    .small {
      font-weight: 500;
      color: #8e92a1;
      margin: 0 0 20px 0;
    }

    h2 {
      font-size: var(--font-blg-subheading);
      font-family: 'Inter', sans-serif;
      font-weight: 500;
    }

    h3 {
      text-align: left;
      font-size: var(--font-blg-subsubheading);
      font-family: 'Inter', sans-serif;
      font-weight: 500;
    }

    p {
      font-size: var(--font-size-7);
      font-weight: 400;
      color: #0d213a;
      margin: 0 0 20px 0;
    }

    a {
      color: #71bbff;
      text-decoration: underline;

      &:hover {
        color: #66a9e8;
      }
    }

    @media screen and (max-width: 1200px) {
    }

    @media screen and (max-width: 768px) {
      margin: 0 30px 30px 30px;
    }
  }
}
