:host {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  background: #333;
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

::slotted([slot='header']) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

::slotted([slot='body']) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card-body {
  background-color: #333;
}
