:root {
  --font-size-1: 2.5rem;
  --font-size-2: 2.125rem;
  --font-size-3: 1.625rem;
  --font-size-4: 1.625rem;
  --font-size-5: 1.375rem;
  --font-size-6: 1.125rem;
  --font-size-7: 1rem;

  --font-blg-heading: 2.875rem;
  --font-blg-subheading: 1.375rem;
  --font-blg-subsubheading: 1.125rem;
}

@media screen and (min-width: 768px) {
  :root {
    --font-size-1: calc(2.5rem + 3.75 * ((100vw - 48rem) / 42));
    --font-size-2: calc(2.125rem + 2.875 * ((100vw - 48rem) / 42));
    --font-size-3: calc(1.625rem + 2 * ((100vw - 48rem) / 42));
    --font-size-4: calc(1.625rem + 0.75 * ((100vw - 48rem) / 42));
    --font-size-5: calc(1.375rem + 0.25 * ((100vw - 48rem) / 42));
    --font-size-6: calc(1.125rem + 0.25 * ((100vw - 48rem) / 42));
    --font-size-7: calc(1rem + 0.125 * ((100vw - 48rem) / 42));
  }
}

@media screen and (min-width: 1440px) {
  :root {
    --font-size-1: 6.125rem;
    --font-size-2: 4.875rem;
    --font-size-3: 3.5rem;
    --font-size-4: 2.25rem;
    --font-size-5: 1.5rem;
    --font-size-6: 1.25rem;
    --font-size-7: 1rem;

    --font-blg-heading: 3rem;
    --font-blg-subheading: 1.5rem;
    --font-blg-subsubheading: 1.25rem;
  }
}
